<form class="form-horizontal">
<div class="span12 hero-unit">
    <div class="row-fluid">
    
     	 <%= render 'index_form/title_and_description' %>
	 <div class="span5" >	
		 <div class ="hero-unit" style="background-color: #aac" >
		    <%= render 'index_form/time_span' %>
		 </div>
 		 <div class ="hero-unit" style="background-color: #acc" >
		    <%= render 'index_form/event_destination' %>
		 </div>
         </div>
         <div class="span6 hero-unit" style="background-color: #aaa">
      	         <%= render 'index_form/place_span' %>
         </div>
    </div>
    
    <h1><%= link_to "加入我们!", signup_path, 
                                class: "btn btn-large btn-primary" %>
    </h1>
</div>
</form>

