<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'renren/connect_renren' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>   
    <h3>Micropost Feed</h3>
         <%= render 'shared/feed' %>
    <% if connect_renren? %>
         <%= render 'renren/renren_info' %>
         <%= link_to "基本信息", renren_basic_info_path %>
         <%= link_to "主页信息", renren_profile_path %>
         <%= link_to "新鲜事",   renren_feed_path %>
         <%= link_to "好友列表", renren_friend_list_path %>
    <% end %>
  </div>
</div>
