<h3> 用户主页信息 </h3>
<p> 应用数量: <%= @renren_profile["appCount"] %> </p>
<p> 访问人数: <%= @renren_profile["visitorCount"] %> </p>
<p> 状态数量: <%= @renren_profile["statusCount"] %> </p>
<p> 日志数量: <%= @renren_profile["blogCount"] %> </p>
<p> 相册数量: <%= @renren_profile["albumCount"] %> </p>
<p> 分享数量: <%= @renren_profile["shareCount"] %> </p>
<p> 好友数量: <%= @renren_profile["friendCount"] %> </p>
