<h3> 新鲜事 </h3>
<%= @renren_feed.count %>
<p> 1 <%= @renren_feed[0] %>  </p>
<p> 2 <%= @renren_feed[1] %>  </p>
<p> 3 <%= @renren_feed[2] %>  </p>
<p> 4 <%= @renren_feed[3] %>  </p>
<p> 5 <%= @renren_feed[4] %>  </p>
<p> 6 <%= @renren_feed[5] %>  </p>
<p> 7 <%= @renren_feed[6] %>  </p>
<p> 8 <%= @renren_feed[7] %>  </p>
<p> 9 <%= @renren_feed[8] %>  </p>
<p> 10 <%= @renren_feed[9] %>  </p>
