<% renren_basic_info = query_renren "user_get" %>
<h3> 用户基本数据 </h3>
<p> 性别: <%= renren_basic_info["basicInformation"]["sex"] %> </p>
<p> 生日: <%= renren_basic_info["basicInformation"]["birthday"] %> </p>
<p> 家乡: <%= renren_basic_info["basicInformation"]["homeTown"] %> </p>
<p> 学校信息:  </p>
	<%= schoolNum = renren_basic_info["education"].count %>
	<% i = 0 %>
	<% while i < schoolNum do %>
	   <p> <%= renren_basic_info["education"][i] %> </p>
	   <% i = i + 1 %>
	<% end %>
<p> 工作信息:  <%= renren_basic_info["work"] %></p>
<p> 喜欢:  <%= renren_basic_info["like"] %></p>
<p> 情感状态: <%= renren_basic_info["emotionalState"] %></p>
