<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to "事件侠", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
	  <% if !signed_in? %>
	     <li>
		 <form class="navbar-form form-inline pull-left" action="/sessions" method = "Post">
		   <input name="session[email]" type="text" class="span2" placeholder="用户名"></input>
		   <input name="session[password]" type="password" class="span2" placeholder="密码"></input>
		   <button type="submit" class="btn">登陆</button>
		   <input type="hidden" name="authenticity_token" value= "<%=session[:authenticity_token]%>" ></input>
		 </form>
	    </li>
	  <% else %>	
            <li><%= link_to "主页", current_user %> </li>
            <li><%= link_to "好友", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "个人信息", profile_user_path(current_user) %></li>
                <li><%= link_to "设置", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "退出帐号", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
